:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}*/

 body {
  margin: 0;
  display: flex;
  place-items: center; 
  /* min-width: 320px;
  min-height: 100vh;  */
} 
/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* HEADER */

header{
  background-color:white;
}

.container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  /* width:1000px; */
  width:70%;
  margin:0 auto;
  padding:10px 0;
}

.logo{
  width:60px;
  height:60px;
}

.logo img{
  width:100%;
}

nav{
  font-family: sans-serif;
  font-size:0.7rem;
}

.container ul{
  display:flex;
  gap:15px;
  padding:0;
  justify-content: center;
}

ul li{
  list-style-type: none;
  font-weight:bold;
}

/* Comics */

.comics-container{
  width:70%;
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  margin: 0 auto;
  padding-top:20px;
}

.comic{
  width: calc((100% - 220px) / 6);
}

.comic .image{
  width:100%;
  aspect-ratio:1;
}

.comic img{
  width:100%;
  height:100%; 
}

.comic p{
  color:white;
  font-size:0.6rem;
  margin-bottom:3px;
  text-align:left;
}

/* Main */

.sfondo-nero{
  background-color:black;
}

.content{
  width:70%;
  margin: 0 auto;
  text-align:left;
  color:white;
  padding: 25px 0;
}

.sfondo-blu{
  background-color: #0C7CEC;
}

.options{
  width:70%;
  margin: 0 auto;
  display:flex;
  justify-content:space-around;
  height:100px;
}

.options li{
  display:flex;
  align-items:center;
  gap:10px;
  color:white;
  font-weight:100;
}

.options .image{
  width:30px;
}

.options .image img{
  width:100%;
}

/* DcList */

.sfondo{
  background-image: url("/img/footer-bg.jpg");
}

.main-container{
  display:flex;
  width:70%;
  margin:0 auto;
  justify-content:space-between;
}

.logo-bg{
  width:400px; 
  background-image: url("/img/dc-logo-bg.png");
  background-size:cover;
  background-position: center;
}

.list-container{
  display:flex;
  padding:20px 0;
}

.list-container h3{
  color:white;
}

.list-container li{
  color: grey;
}

.list-container ul{
  text-align:left;
}

.list-container .column1 ul{
  padding-inline-start: 0;
}

/* DcFooter */

.sfondo-grigio{
  background-color: #303030;
}

.footer{
  width:70%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content: space-between;
  z-index:100;
}

.footer button{
  color:white;
  background-color:transparent;
  padding:8px;
  border: 2px solid #13538F;
}

.footer strong{
  color: #13538F;
}

.footer .follow{
  display:flex;
  align-items:center;
}

.footer ul{
  display:flex;
}

.footer ul .image img{
   width:70%;
}

.footer ul{
  padding-inline-start: 15px;
}